<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Use Spring's default property to detect active profile -->
    <springProperty scope="context" name="springProfile" source="spring.profiles.active"/>

    <!-- Send logs to console in JSON format -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Optional: Add custom fields to JSON output -->
            <customFields>{"application_name":"your_application_name","environment":"${springProfile}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
